@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model ViewApp.Models.LoginInput

<li class="btn-group dropdown">
    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("AuthToken"))
    {
        <a href="#" class="pm_item" title="logout" asp-controller="Account" asp-action="Logout">
            <i class="icon-logout"></i>
            <span class="hidden-sm hidden-xs">Logout</span>
        </a>
    }
    else 
    { 
        <a href="#" class="pm_item" data-toggle="dropdown" title="login">
            <i class="icon-login"></i>
            <span class="hidden-sm hidden-xs">Login</span>
        </a>
    }
    <a href="#" class="pm_item" data-toggle="dropdown" title="login">
        <i class="icon-login"></i>
        <span class="hidden-sm hidden-xs">Login</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
        <span class="dropdown-triangle-up"></span>
        <a href="#" class="dd-close-btn"><i class="icon_close"></i></a>
        <div class="dropdown-head">
            <h4 class="pull-left">Sign in</h4>
        </div>
        <div class="dd-wrapper">
            <div id="dd-social-login">
                <div class="title"><span>Sign in using</span></div>
                <a href="#" class="btn facebook-btn"><i class="social_facebook "></i>FACEBOOK</a>
                <a href="#" class="btn twitter-btn"><i class="social_twitter"></i>TWITTER</a>
            </div>
            <div id="dd_login">
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="required form-group">
                        <input 
                            asp-for="Email" 
                            type="text" name="email" placeholder="Email / Login" class="placeholder-fix">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        <i class="icon_mail field-icon"></i>
                    </div>
                    <div class="required form-group">
                        <input type="password" name="password"
                               asp-for="Password"
                               placeholder="Password" class="placeholder-fix">
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <i class="icon_lock field-icon"></i>
                    </div>
                    <div class="form-group">
                        <input id="remember" class="stl" type="checkbox" value="1" name="remember">
                        <label class="stl" for="remember"><span></span>remember me</label>
                    </div>
                    <div class="form-group text-center">
                        <button 
                            type="submit" 
                            class="btn btn-sm btn-third-col">
                                Login
                            </button>
                    </div>
                    <div class="text-center"><a href="coming-soon.html" class="active">
                        Forgot your password?
                       </a></div>
                    <div class="dd-delimiter"></div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-sm btn-sec-col">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</li>
