@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pull-left left-top-bar">
    <div id="lang">
        <ul class="list-inline hidden-xs">
            <li>
                <a href="#" class="active">English</a>
            </li>
            <li>
                <a href="#">French</a>
            </li>
            <li>
                <span></span>
            </li>
        </ul>
        <div class="dropdown dropdown-top-list visible-xs">
            <a href="#" data-toggle="dropdown" title="">
                English <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-top-menu">
                <span class="dropdown-triangle-up"></span>
                <ul class="dropdown-top-menu-list">
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="currencies">
        <ul class="list-inline hidden-xs">
            <li>
                <a href="#" class="active">USD</a>
            </li>
            <li>
                <a href="#">EUR</a>
            </li>
        </ul>
        <div class="dropdown dropdown-top-list visible-xs">
            <a href="#" data-toggle="dropdown" title="">
                USD <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-top-menu">
                <span class="dropdown-triangle-up"></span>
                <ul class="dropdown-top-menu-list">
                    <li><a href="#">EUR</a></li>
                    <li><a href="#">AUD</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="top-contacts">
        <ul class="list-inline">
            <li class="hidden-xs">
                <i class="icon-call-in"></i>
                <span>+ 1 (800) 2364 332 23 16</span>
            </li>
            <li class="hidden-xs">
                <a href="your@email.com">
                    <i class="icon-envelope"></i>
                    <span class="hidden-xs">your@email.com</span>
                </a>
            </li>
        </ul>
    </div>
</div>